<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.plantze_application">

    <!-- SDK versions -->
    <uses-sdk
        android:minSdkVersion="21"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plantze_application"
        tools:targetApi="31">

        <!-- MainActivity as the entry point -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- EcoTracker related activities -->
        <activity android:name=".ui.ecotracker.EcoTrackerActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.DietActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.BeefActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.PorkActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.ChickenActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.FishActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.FoodWasteActivity" android:exported="true"/>

        <!-- Transportation related activities -->
        <activity android:name=".ui.ecotracker.TransportationActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.CarTypeActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.CarDistanceActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.PublicTransportFrequencyActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.PublicTransportTimeActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.ShortHaulFlightsActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.LongHaulFlightsActivity" android:exported="true"/>


    </application>

</manifest>
