<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.plantze_application">




    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <!-- SDK versions -->
    <uses-sdk
        android:minSdkVersion="21"/>




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plantze_application"
        tools:targetApi="31">




        <!-- WelcomeActivity2 as the entry point -->


        <activity
            android:name=".ui.login.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.WelcomeActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.registration.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" /> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"></activity>


        <!-- Annual Emissions related activities -->
        <activity android:name=".ui.annual_footprint.AnnualFootprintActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.DietActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.BeefActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.PorkActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.ChickenActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.FishActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.FoodWasteActivity" android:exported="true"/>


        <!-- Housing related activities -->
        <activity android:name=".ui.annual_footprint.HouseTypeActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.HousePeopleNum" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.HouseSize" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.HouseElectricityBill" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.HouseHeatType" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.HouseHeatWaterType" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.HouseRenewableEnergy" android:exported="true"/>


        <!-- Transportation related activities -->
        <activity android:name=".ui.annual_footprint.TransportationActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.CarTypeActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.CarDistanceActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.PublicTransportFrequencyActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.PublicTransportTimeActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.ShortHaulFlightsActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.LongHaulFlightsActivity" android:exported="true"/>


        <!-- Consumption related activities -->
        <activity android:name=".ui.annual_footprint.ConsumptionActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.EcoFriendlyProductsActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.ElectronicDevicesActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.RecyclingActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.LocationActivity" android:exported="true"/>
        <activity android:name=".ui.habit_tracking.HabitTrackingActivity" />
        <activity android:name=".ui.habit_tracking.TransportationHabitsActivity" />
        <activity android:name=".ui.habit_tracking.WalkingHabitActivity" />
        <activity android:name=".ui.habit_tracking.CyclingHabitActivity" />
        <activity android:name=".ui.habit_tracking.FoodHabitsActivity" />
        <activity android:name=".ui.habit_tracking.MeatFreeHabitActivity" />
        <activity android:name=".ui.habit_tracking.ReducedFoodWasteHabitActivity" />
        <activity android:name=".ui.habit_tracking.EcoFriendlyPurchasesHabitActivity" />
        <activity android:name=".ui.habit_tracking.ConsumptionHabitsActivity" />
        <activity android:name=".ui.habit_tracking.RecyclingHabitActivity" />
        <activity android:name=".ui.habit_tracking.RenewableEnergyHabitActivity" />
        <activity android:name=".ui.habit_tracking.EnergyHabitsActivity" />
        <activity android:name=".ui.habit_tracking.EnergyConservationHabitActivity" />
        <receiver android:name=".ui.habit_tracking.NotificationReceiver" />















        <!-- Ecotracker Menus-->
        <activity android:name=".ui.ecotracker.CalendarActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.CategoryActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.TransportationActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.ConsumptionActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.DateActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.ResultActivity" android:exported="true"/>

        <!-- Ecotracker Final Menus-->
        <activity android:name=".ui.ecotracker.BillsActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.ClothesActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.CycleWalkActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.ElectronicsActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.FlightActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.MealActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.OthersActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.PersonalActivity" android:exported="true"/>
        <activity android:name=".ui.ecotracker.PublicActivity" android:exported="true"/>
    </application>


</manifest>

