<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.plantze_application">

    <!-- SDK versions -->
    <uses-sdk
        android:minSdkVersion="21"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plantze_application"
        tools:targetApi="31">

        <!-- MainActivity as the entry point -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- EcoTracker related activities -->
        <activity android:name=".ui.annual_footprint.EcoTrackerActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.DietActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.BeefActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.PorkActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.ChickenActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.FishActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.FoodWasteActivity" android:exported="true"/>

        <!-- Housing related activities -->
        <activity android:name=".ui.annual_footprint.HouseTypeActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.HousePeopleNum" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.HouseSize" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.HouseElectricityBill" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.HouseHeatType" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.HouseHeatWaterType" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.HouseRenewableEnergy" android:exported="true"/>

        <!-- Transportation related activities -->
        <activity android:name=".ui.annual_footprint.TransportationActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.CarTypeActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.CarDistanceActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.PublicTransportFrequencyActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.PublicTransportTimeActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.ShortHaulFlightsActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.LongHaulFlightsActivity" android:exported="true"/>

        <!-- Consumption related activities -->
        <activity android:name=".ui.annual_footprint.ConsumptionActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.EcoFriendlyProductsActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.ElectronicDevicesActivity" android:exported="true"/>
        <activity android:name=".ui.annual_footprint.RecyclingActivity" android:exported="true"/>






    </application>

</manifest>
